@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.rating {
    height: 100%;
    display: flex;
    flex-direction: column;
    column-count: 2;
    /*align-items: center;*/
    /*justify-content: center;*/
    overflow-y: auto;
}

.dogItem {
    margin-left: 66px;
    margin-top: 16px;
}

.dogImg {
    height: 40px;
    width: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.dogText {
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-top: -30px;
    margin-left: 48px;
}

/*For phones*/
@media (max-aspect-ratio: 1/1) {
    .rating {
        align-items: center;
    }

    .dogItem {
        margin-left: 0;
    }
}
