@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.StartPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.StartPageSearch {
    width: 240px;
}

.StartPageInput {
    text-align: center;
    color: #444;
    padding: 12px;
    border: none;
    border-radius: 25px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    width: calc(100% - 72px);
}

.StartPageSearchButton {
    float: right;
    height: 40px;
    width: 40px;
    background: #4056bc;
    color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
}

.StartPageSearchButton:hover {
    background: #33366f;
}

.StartPageSearchButton:active {
    margin-right: -4px;
}
