.SearchImage {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-position: center;
    background-size: cover;
}

.SearchMainContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
