.CustomButton {
    text-align: center;
    color: #fff;
    background: #4056bc;
    padding: 12px;
    border-radius: 8px;
    border-bottom: 4px solid #33366f;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    width: 216px;
    text-decoration: none;
}

.CustomButton:hover {
    text-decoration: underline;
}

.CustomButton:active {
    border-bottom: none;
    margin-top: 4px;
}
